html {
    background-color: cornflowerblue;
}

.prof-box {
   max-width: 1100px;
   margin: 0 auto;
   padding: 0 100px;
   margin-top: 100px;
   text-align: center;
    
}

.prof-pic {
    border-radius: 50%;
    height: 400px;
    width: 400px;
    border-style: solid;
    border-color: white;
    border-width: 4px;
}
h1{
    color: black;
    font-size: 50px;
    text-align: center;
}
.new-box {
    background-color: blueviolet;
    border-style: solid;
    border-radius: 1px;
    border-width: 1px;
    margin: 2%;
    color: gray;
}
